//primary colors
$global-text-color: #13182c;
$interactive-elements: #2e66e5;
$global-white: #ffffff;

//secondary colors
$table-headers_placeholder: #5c667e;
$outlines-border: #bdc5d5;

//background colors
$nav-background_cta-hover: #232940;
$page_table-column_cta-background: #f7f8f9;

//supporting colors
$instock-label: #158463;
$error_out-of-stock: #c94515;
